body{
    background-color: aliceblue;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background: url(https://img.freepik.com/fotos-gratis/conceito-de-natureza-morta-de-acessorios-para-animais-de-estimacao-com-objetos-coloridos_23-2148949578.jpg?semt=ais_user_personalization&w=740&q=80) center/cover;
    text-align: center;
    color: white;
    padding: 100px 0px;
}

header h1{
    font-size: 3em;
    padding-bottom: 20px;
}

.B1{
    background-color: rgb(237, 101, 16);
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}