body{
    background-color: aliceblue;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background: url(https://img.freepik.com/fotos-gratis/conceito-de-natureza-morta-de-acessorios-para-animais-de-estimacao-com-objetos-coloridos_23-2148949578.jpg?semt=ais_user_personalization&w=740&q=80) center/cover;
    text-align: center;
    color: white;
    padding: 100px 0px;
}

header h1{
    font-size: 3em;
    padding-bottom: 20px;
}

.B1{
    background-color: rgb(237, 101, 16);
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

h1{
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
}

.acessorios{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card1{
    background-color:  rgb(215, 109, 44);
    color: white;
    width: 300px;
    text-align: center;
    border-radius: 25px;
}

.img1{
    width: 170px;
    padding-top: 30px;
}

.card2{
    background-color: rgb(215, 109, 44);
    color: white;
    width: 300px;
    text-align: center;
    border-radius: 25px;
}

.img2{
    width: 150px;
    padding-top: 30px;
}

.card3{
    background-color: rgb(215, 109, 44);
    color: white;
    width: 300px;
    text-align: center;
    border-radius: 25px;
}

.img3{
    width: 120px;
    padding-top: 30px;
}

.card4{
     background-color: rgb(215, 109, 44);
    color: white;
    width: 300px;
    text-align: center;
    border-radius: 25px;
}

.img4{
    width: 105px;
    padding-top: 30px;
}